* {
  margin: 0;
  padding: 0;
}

#contenedor {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: lightslategrey;
}

#contenedor img {
  width: 100%;
}

#contenedor > article {
  width: 30%;
  padding: 2%;
  box-sizing: border-box;
}

.primero {
  background-color: lightsalmon;
}

.segundo {
  background-color: lightseagreen;
}

.tercero {
  background-color: lightgreen;
}

@media screen and (min-width: 660px) and (max-width: 1200px) {
  body {
    background-color: lime;
  }
}